:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --bs-btn-bg: #6c63ff;
}

body {
  font-family: var(--default-font-family);
}

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

body {
  margin: 0 auto;
  background: var(--secondary-color);
}

h1,
h2,
h3 {
  text-align: start;
}

h1,
h3,
h4 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: bold;
  font-size: 64px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

h4 {
  font-weight: bold;
  font-size: 64px;
}

p {
  text-align: start;
  font-size: 16px;
  margin-bottom: 20px;
}

.topper {
  margin-top: 40px;
}

.content {
  margin-top: 15px;
}

.buttons {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.btn-branding {
  background-color: #6c63ff;
  padding: 18px 46px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.btn-branding:hover {
  background-color: #6c63ff;
  color: indigo;
}

.logo {
  width: 150px;
  height: 40px;
  background-image: url(/images/logo-shecodes.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: glitch 3.5s infinite steps(1);
  transition: all 0.2s;
}

@keyframes glitch {
  0%,
  100% {
    background-image: url(/images/logo-shecodes.png);
    background-size: cover;
  }
  98% {
    background-image: url(/images/glitch-image-1660903059.png);
    background-size: cover;
  }
  96% {
    background-image: url(/images/glitch-image-1660903062.png);
    background-size: cover;
  }
  95% {
    background-image: url(/images/glitch-image-1660903063.png);
    background-size: cover;
  }
  93% {
    background-image: url(/images/glitch-image-1660903065.png);
    background-size: cover;
  }
  92% {
    background-image: url(/images/glitch-image-1660903066.png);
    background-size: cover;
  }
  91% {
    background-image: url(/images/glitch-image-1660903068.png);
    background-size: cover;
  }
}
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  p {
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  h4 {
    font-weight: bold;
    font-size: 36px;
  }

  body {
    width: 100%;
  }

  .content-warp {
    text-align: center;
  }

  .about-content {
    text-align: center;
  }

  .about-content .btn {
    margin: 0 auto;
  }
}

.buttons {
  margin: 0 auto;
  width: 200px;
  background: transparent;
  border: 1px solid;
  border-color: var(--bs-btn-bg);
  border-radius: 4px;
  padding: 18px 20px;
  cursor: pointer;
}

.btn-primary {
  border-color: var(--bs-btn-bg) !important;
  color: var(--bs-btn-bg);
}

.buttons a {
  text-decoration: none;
  color: var(--bs-btn-bg);
}

.content-warp {
  padding: 0 30px;
}

.cont {
  text-align: start;
}

.footer {
  background-color: aliceblue;
  line-height: 20px;
  margin-bottom: 0;
  font-size: x-small;
}

.gitlink {
  text-decoration: none;
  color: rgb(129, 84, 0);
}

.about-content {
  text-align: start;
}
