:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --bs-btn-bg: #6c63ff;
}

body {
  font-family: var(--default-font-family);
}

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

body {
  margin: 0 auto;
  background: var(--secondary-color);
}

/* h1,
h2,
h3 {
  text-align: start;
} */

h1,
h3,
h4 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: bold;
  font-size: 64px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

h4 {
  font-weight: bold;
  font-size: 32px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.headsection {
  text-align: center;
}

.topper {
  margin-top: 40px;
}

.content {
  margin-top: 15px;
}

.buttons {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background-color: #6c63ff;
  color: indigo;
}

.logo {
  width: 150px;
  height: 40px;
  background-image: url(/images/logo-shecodes.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: glitch 3.5s infinite steps(1);
  transition: all 0.2s;
}

.nav-link {
  transition: all 0.3s;
  border-radius: 4px;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.nav-link:hover {
  transform: translateY(8px);
  border-bottom: 1px solid var(--branding-color);
  border-top: 1px solid var(--branding-color);
  padding: 1px 20px;
}

@keyframes glitch {
  0%,
  100% {
    background-image: url(/images/logo-shecodes.png);
    background-size: cover;
  }
  98% {
    background-image: url(/images/glitch-image-1660903059.png);
    background-size: cover;
  }
  96% {
    background-image: url(/images/glitch-image-1660903062.png);
    background-size: cover;
  }
  95% {
    background-image: url(/images/glitch-image-1660903063.png);
    background-size: cover;
  }
  93% {
    background-image: url(/images/glitch-image-1660903065.png);
    background-size: cover;
  }
  92% {
    background-image: url(/images/glitch-image-1660903066.png);
    background-size: cover;
  }
  91% {
    background-image: url(/images/glitch-image-1660903068.png);
    background-size: cover;
  }
}
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  p {
    text-align: center;
  }

  h1 {
    font-size: 32px;
  }

  h4 {
    font-weight: bold;
    font-size: 26px;
  }

  h5 {
    font-weight: bold;
    font-size: 22px;
  }

  body {
    width: 90%;
  }

  .logo {
    width: 45px;
    height: 40px;
    background-image: url(/images/logo-shecodes.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: glitch 3.5s infinite steps(1);
    transition: all 0.2s;
  }

  .content-warp {
    text-align: center;
  }

  .about-content {
    text-align: center;
  }

  .about-content .btn {
    margin: 0 auto;
  }

  .nav-link {
    text-align: center;
    border-bottom: 0 solid transparent;
    border-top: 0 solid transparent;
  }

  .nav-link:hover {
    transform: translateY(0px);
    border-bottom: 0 solid transparent;
    border-top: 0 solid transparent;
    padding: 8px 0px;
  }

  .link {
    display: block;
    text-align: center;
  }
}

.buttons {
  margin: 0 auto;
  width: 200px;
  background: transparent;
  border: 1px solid;
  border-color: var(--bs-btn-bg);
  border-radius: 4px;
  padding: 18px 20px;
  cursor: pointer;
}

.btn-primary {
  border-color: var(--bs-btn-bg) !important;
  color: var(--bs-btn-bg);
}

.buttons a {
  text-decoration: none;
  color: var(--bs-btn-bg);
}

.content-warp {
  padding: 0 30px;
}

.contactpage {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 100px;
  transition: all 0.3s;
}

.cont {
  text-align: start;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 28px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 20px 24px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.gitlink {
  text-decoration: none;
  color: rgb(129, 84, 0);
}

.about-content {
  text-align: start;
}
